<template>
  <section
    class="py-10 bg-gradient-to-r from-primary-green via-primary-blue to-primary-blue sm:py-16"
  >
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div
        class="text-center sm:flex sm:items-center sm:justify-center sm:text-left"
      >
        <h2 class="text-4xl font-bold text-white">
          Make your inspections 41% faster
        </h2>

        <button
          class="inline-flex items-center justify-center flex-shrink-0 px-4 py-4 mt-8 text-base font-semibold text-gray-900 transition-all duration-200 bg-yellow-400 rounded-md sm:mt-0 sm:ml-8 lg:ml-16 hover:bg-yellow-400 focus:bg-yellow-400"
          @click="$nuxt.$emit('showModal')"
        >
          Book a Free Demo
        </button>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
