<template>
  <section
    class="py-12 bg-gradient-to-br from-primary-blue to-primary-blue-dark sm:py-16 lg:py-24"
  >
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="grid items-center grid-cols-1 gap-10 sm:gap-16 lg:grid-cols-2"
      >
        <div :class="showingQuote">
          <div
            class="max-w-sm mx-auto bg-white xl:max-w-md rounded-2xl lg:-rotate-3"
          >
            <div class="p-6 sm:px-10 sm:py-12">
              <img
                class="w-auto h-7"
                src="https://cdn.rareblocks.xyz/collection/clarity/images/cta/3/crowny-logo.svg"
                alt=""
              />

              <blockquote class="mt-6">
                <p
                  class="text-lg font-normal leading-relaxed text-gray-900 font-pj"
                >
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vehicula massa in enim luctus. Rutrum arcu. Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit. Vehicula massa in enim
                  luctus. Rutrum arcu. ”
                </p>
              </blockquote>

              <div class="flex items-center justify-between mt-8">
                <div class="flex items-center">
                  <img
                    class="flex-shrink-0 object-cover rounded-full w-11 h-11"
                    src="https://cdn.rareblocks.xyz/collection/clarity/images/cta/3/avatar-female.png"
                    alt=""
                  />
                  <div class="ml-3">
                    <p class="text-lg font-bold text-gray-900 font-pj">
                      Jerome Bell
                    </p>
                    <p
                      class="text-base font-pj font-normal text-gray-600 mt-0.5"
                    >
                      CTO, Waverio
                    </p>
                  </div>
                </div>

                <img
                  class="w-auto h-12"
                  src="https://cdn.rareblocks.xyz/collection/clarity/images/cta/3/signature.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <div class="max-w-md mx-auto text-center lg:max-w-none lg:text-left">
          <h2
            class="text-3xl font-bold text-white sm:text-4xl xl:text-5xl font-pj"
          >
            Get a free demo now.
          </h2>
          <p class="mt-8 text-base font-normal leading-7 text-gray-300 font-pj">
            Are you interested in seeing how FlowInsight can help your business
            optimize your maintenance and inspections? Just leave your email
            here and our experts will get back to you shortly.
          </p>

          <form action="#" method="POST" class="mt-16">
            <label for="" class="text-lg font-bold text-white font-pj">
              Leave your email to get free demo from our experts.
            </label>
            <div class="relative max-w-lg mx-auto mt-5 lg:mx-0">
              <div class="absolute -inset-2">
                <div
                  class="w-full h-full mx-auto rotate-180 opacity-30 blur-lg filter"
                  style="
                    background: linear-gradient(
                      90deg,
                      #44ff9a -0.55%,
                      #44b0ff 22.86%,
                      #8b44ff 48.36%,
                      #ff6644 73.33%,
                      #ebff70 99.34%
                    );
                  "
                ></div>
              </div>

              <div class="relative">
                <input
                  type="email"
                  name=""
                  id=""
                  placeholder="Enter your email address"
                  class="block w-full px-5 py-6 text-base font-normal text-white placeholder-gray-400 bg-gray-900 border border-transparent rounded-xl focus:border-white focus:ring-1 focus:ring-white font-pj focus:outline-none"
                />

                <div
                  class="mt-4 sm:mt-0 sm:absolute sm:inset-y-0 sm:right-0 sm:flex sm:items-center sm:pr-3"
                >
                  <button
                    type="submit"
                    class="inline-flex items-center justify-center w-full px-8 py-4 text-base font-bold text-gray-900 transition-all duration-200 bg-yellow-400 border border-transparent sm:py-3 sm:w-auto focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white font-pj hover:bg-opacity-90 rounded-xl"
                  >
                    Get started now
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    showQuote: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    showingQuote() {
      if (this.showQuote) {
        return "block";
      } else {
        return "hidden lg:block";
      }
    },
  },
};
</script>

<style></style>
