<template>
  <section
    class="relative py-10 bg-gradient-to-br from-primary-blue to-primary-blue-dark sm:py-16 lg:py-24"
  >
    <!-- <div class="absolute z-50 bottom-0 right-0 overflow-hidden lg:inset-y-0">
      <img
        class="w-auto h-full"
        src="https://d33wubrfki0l68.cloudfront.net/1e0fc04f38f5896d10ff66824a62e466839567f8/699b5/images/hero/3/background-pattern.png"
        alt=""
      />
    </div> -->
    <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
        <h2
          class="text-3xl font-bold leading-tight text-white sm:text-4xl lg:text-5xl"
        >
          Questions &amp; Answers
        </h2>
        <p
          class="max-w-xl mx-auto mt-4 text-base leading-relaxed text-gray-300"
        >
          Explore the common questions and answers about FlowInsight
        </p>
      </div>

      <div
        class="grid grid-cols-1 mt-12 md:mt-20 md:grid-cols-2 gap-y-16 gap-x-20"
      >
        <div class="flex items-start">
          <div
            class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full"
          >
            <span class="text-lg font-semibold text-white">?</span>
          </div>
          <div class="ml-4">
            <p class="text-xl font-semibold text-white">What is FlowInsight?</p>
            <p class="mt-4 text-base text-gray-400">
              FlowInsight is a platform that helps you with your inspection
              workflows, enabling engineers to do their jobs better and faster.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <div
            class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full"
          >
            <span class="text-lg font-semibold text-white">?</span>
          </div>
          <div class="ml-4">
            <p class="text-xl font-semibold text-white">What is a HMT?</p>
            <p class="mt-4 text-base text-gray-400">
              Head Mounted Tablet (HMT) is a device that is mounted on the top
              of a workers head. It is used to provide the worker with
              information and to interact with the environment.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <div
            class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full"
          >
            <span class="text-lg font-semibold text-white">?</span>
          </div>
          <div class="ml-4">
            <p class="text-xl font-semibold text-white">
              Will FlowInsight fit our organization?
            </p>
            <p class="mt-4 text-base text-gray-400">
              FlowInsight offers a workflow builder, that can be customized to
              your organization. With our API, FlowInsight can be technically
              integrated with any existing software.
            </p>
          </div>
        </div>

        <div class="flex items-start">
          <div
            class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full"
          >
            <span class="text-lg font-semibold text-white">?</span>
          </div>
          <div class="ml-4">
            <p class="text-xl font-semibold text-white">
              Can we try out FlowInsight?
            </p>
            <p class="mt-4 text-base text-gray-400">
              Send us a message if you are interested in trying out FlowInsight.
              We are more than happy to discuss any of your needs and provide
              you with a fitting demonstration of our services.
            </p>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center mt-12 md:mt-20">
        <div class="px-8 py-4 text-center bg-white bg-opacity-10 rounded-full">
          <p class="text-sm lg:text-base text-gray-50">
            Didn’t find the answer you are looking for?
            <nuxt-link
              to="/contact"
              title=""
              class="text-yellow-400 transition-all duration-200 hover:text-yellow-400 focus:text-yellow-400 hover:underline cursor-pointer"
              >Contact our support
            </nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
