<template>
  <section class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto text-center">
        <p class="text-lg font-medium text-primary-green uppercase">
          From start to finish
        </p>
        <h2
          class="mt-4 text-3xl font-bold text-gray-900 sm:text-4xl xl:text-5xl font-pj"
        >
          How FlowInsight will optimize your remote inspections
        </h2>
      </div>
      <div class="mt-20">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div class="flex justify-center md:justify-start">
                  <span
                    class="inline-flex items-center justify-center rounded-md bg-gradient-to-br from-primary-green via-primary-blue to-primary-blue p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-8 w-8 text-white"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                      />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 text-2xl font-bold text-gray-900">
                  Plan and Manage
                </h3>
                <p class="mt-4 text-lg text-gray-800">
                  Easily create or adjust your workflows to suit your needs.
                  Create and manage teams to execute your daily work.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div class="flex justify-center md:justify-start">
                  <span
                    class="inline-flex items-center justify-center rounded-md bg-gradient-to-br from-primary-green via-primary-blue to-primary-blue p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-8 w-8 text-white"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
                      />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 text-2xl font-bold text-gray-900 font-pj">
                  Optimize Work
                </h3>
                <p class="mt-4 text-lg text-gray-800">
                  Provide your workers with all the necessary information
                  onsite, support with live videocalls and safe data.
                </p>
              </div>
            </div>
          </div>

          <div class="pt-6">
            <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
              <div class="-mt-6">
                <div class="flex justify-center md:justify-start">
                  <span
                    class="inline-flex items-center justify-center rounded-md bg-gradient-to-br from-primary-green via-primary-blue to-primary-blue p-3 shadow-lg"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-8 w-8 text-white"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
                      />
                    </svg>
                  </span>
                </div>
                <h3 class="mt-8 text-2xl font-bold text-gray-900">
                  Automated Reporting
                </h3>
                <p class="mt-4 text-lg text-gray-800">
                  Workers spend less time on manual reporting. All reports are
                  automatically generated and instantly accessible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
