<template>
  <section class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="grid grid-cols-1 md:items-center gap-y-8 md:grid-cols-2 md:gap-x-16"
      >
        <div class="order-2 md:order-2">
          <h2
            class="text-3xl font-bold text-gray-900 sm:text-4xl xl:text-5xl font-pj"
          >
            Plan and Manage
          </h2>
          <p class="mt-4 text-lg text-gray-900 sm:mt-8 font-pj">
            Create and manage workflows for all your inspection and maintenance
            needs. Quickly add, remove and change steps and the order they are
            in. Make steps required or require video proof of the result of a
            step. After creating your workflows, you can assign them to
            individuals or teams to execute. All from one easy to use tool.
          </p>

          <hr class="mt-8 mb-6 border-gray-300" />

          <blockquote>
            <p class="text-base italic text-gray-900 font-pj">
              “Simply the best. Better than all the rest. I’d recommend this
              product to beginners and advanced users.”
            </p>
          </blockquote>

          <div class="flex items-center mt-5">
            <img
              class="flex-shrink-0 object-cover w-10 h-10 rounded-full"
              src="https://cdn.rareblocks.xyz/collection/clarity/images/features-v2/1/avatar.png"
              alt=""
            />
            <div class="ml-3">
              <p class="text-sm font-bold text-gray-900 font-inter">
                Trevor Lane
              </p>
              <p class="text-sm font-medium text-gray-500 font-pj">
                Planner, CreativeGIG
              </p>
            </div>
          </div>
        </div>

        <div class="order-1 md:order-1">
          <img
            class="w-full max-w-md mx-auto rounded-lg"
            src="@/assets/Workflow.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
