<template>
  <section class="relative pb-8 sm:py-16 lg:pb-36 background-image">
    <!-- <div class="absolute top-0 right-0 overflow-hidden lg:inset-y-0">
      <img class="h-full" src="@/assets/hero.png" alt="" />
    </div> -->
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="grid max-w-lg grid-cols-1 mx-auto lg:max-w-full lg:items-center lg:grid-cols-2 gap-y-4 lg:gap-y-12 lg:gap-x-8"
      >
        <div class="mt-10">
          <div class="text-center lg:text-left">
            <h1
              class="text-4xl font-bold leading-tight text-black text-opacity-90 sm:text-5xl sm:leading-tight lg:leading-tight lg:text-6xl font-pj"
            >
              Remote Maintenance Done Smarter.
            </h1>
            <p
              class="mt-2 text-lg font-light mr-2 lg:text-2xl text-black text-opacity-70 sm:mt-8 font-inter"
            >
              Manage your workflows and streamline inspections with FlowInsight.
              FlowInsight is an innovative service that provides your team with
              instruction on the fly. It coordinates tasks, while providing
              step-by-step instructions and live feedback. All from your
              headset.
            </p>

            <button
              class="mt-8 w-full md:w-auto flex items-center md:mx-auto lg:mx-0 text-center justify-center bg-yellow-400 rounded-lg px-6 py-3 text-black text-2xl font-medium"
              @click="$nuxt.$emit('showModal')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                />
              </svg>
              Book a Free Demo
            </button>
          </div>

          <div
            class="items-center justify-center hidden lg:flex mt-4 lg:mt-10 space-x-6 lg:justify-start sm:space-x-8"
          >
            <div class="flex items-center">
              <p
                class="text-base font-light lg:font-medium text-gray-900 text-opacity-80 sm:text-4xl font-pj"
              >
                1000+
              </p>
              <p class="ml-3 text-sm text-gray-900 font-pj">Daily<br />Users</p>
            </div>

            <div class="hidden sm:block">
              <svg
                class="text-primary-green text-opacity-40"
                width="16"
                height="39"
                viewBox="0 0 16 39"
                fill="none"
                stroke="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="0.72265"
                  y1="10.584"
                  x2="15.7226"
                  y2="0.583975"
                ></line>
                <line x1="0.72265" y1="17.584" x2="15.7226" y2="7.58398"></line>
                <line x1="0.72265" y1="24.584" x2="15.7226" y2="14.584"></line>
                <line x1="0.72265" y1="31.584" x2="15.7226" y2="21.584"></line>
                <line x1="0.72265" y1="38.584" x2="15.7226" y2="28.584"></line>
              </svg>
            </div>

            <div class="flex items-center">
              <p
                class="text-3xl font-medium text-gray-900 text-opacity-80 sm:text-4xl font-pj"
              >
                4000+
              </p>
              <p class="ml-3 text-sm text-gray-900 font-pj">Hours<br />Saved</p>
            </div>
          </div>
        </div>

        <div>
          <img
            class="block lg:hidden -mb-4 md:-mb-12"
            src="@/assets/hero-mobile.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style scoped>
@media screen and (min-width: 1024px) {
  .background-image {
    background-image: url("@/assets/hero.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
}
</style>
