<template>
  <client-only>
    <kinesis-container class="relative overflow-hidden">
      <main>
        <div class="pt-10 sm:pt-16 lg:pt-8 g:overflow-hidden">
          <div class="mx-auto max-w-7xl lg:px-8">
            <div class="lg:grid lg:grid-cols-2 lg:gap-8">
              <div
                class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center"
              >
                <div class="lg:py-24">
                  <a
                    href="#"
                    class="inline-flex items-center text-black bg-white border border-primary-blue-dark rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200"
                  >
                    <span
                      class="px-3 py-0.5 text-black text-xs font-semibold leading-5 uppercase tracking-wide bg-yellow-400 rounded-full"
                      >41% faster maintenance</span
                    >
                    <span class="ml-4 text-sm text-gray-900">See how</span>
                    <!-- Heroicon name: solid/chevron-right -->
                    <svg
                      class="ml-2 w-5 h-5 text-gray-500"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </a>
                  <h1
                    class="mt-4 text-4xl tracking-tight font-extrabold text-gray-900 sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl"
                  >
                    <span class="block"> Maintenance</span>
                    <span class="block text-primary-green">Done Smart</span>
                  </h1>
                  <p
                    class="mt-3 text-base text-gray-400 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
                  >
                    Manage your workflows and streamline inspections with
                    FlowInsight. FlowInsight is an innovative service that
                    provides your team with instruction on the fly. It
                    coordinates tasks, while providing step-by-step instructions
                    and live feedback. All from your headset.
                  </p>
                  <div class="mt-4 relative">
                    <button
                      class="inline-flex items-center justify-center w-full px-8 py-4 text-base font-bold text-gray-900 transition-all duration-200 bg-yellow-400 border border-transparent sm:py-3 sm:w-auto focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white font-pj hover:bg-opacity-90 rounded-xl"
                      @click="$nuxt.$emit('showModal')"
                    >
                      Get a Free Demo
                    </button>
                  </div>
                  <div
                    class="items-center justify-center hidden lg:flex mt-4 lg:mt-10 space-x-6 lg:justify-start sm:space-x-8"
                  >
                    <div class="flex items-center">
                      <p
                        class="text-base font-light lg:font-medium text-gray-900 text-opacity-80 sm:text-4xl font-pj"
                      >
                        1000+
                      </p>
                      <p class="ml-3 text-sm text-gray-900 font-pj">
                        Daily<br />Users
                      </p>
                    </div>

                    <div class="mhidden sm:block">
                      <svg
                        class="text-gray-500 text-opacity-40"
                        width="16"
                        height="39"
                        viewBox="0 0 16 39"
                        fill="none"
                        stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <line
                          x1="0.72265"
                          y1="10.584"
                          x2="15.7226"
                          y2="0.583975"
                        ></line>
                        <line
                          x1="0.72265"
                          y1="17.584"
                          x2="15.7226"
                          y2="7.58398"
                        ></line>
                        <line
                          x1="0.72265"
                          y1="24.584"
                          x2="15.7226"
                          y2="14.584"
                        ></line>
                        <line
                          x1="0.72265"
                          y1="31.584"
                          x2="15.7226"
                          y2="21.584"
                        ></line>
                        <line
                          x1="0.72265"
                          y1="38.584"
                          x2="15.7226"
                          y2="28.584"
                        ></line>
                      </svg>
                    </div>

                    <div class="flex items-center">
                      <p
                        class="text-3xl font-medium text-gray-900 text-opacity-80 sm:text-4xl font-pj"
                      >
                        4000+
                      </p>
                      <p class="ml-3 text-sm text-gray-900 font-pj">
                        Hours<br />Saved
                      </p>
                    </div>
                  </div>
                  <!-- <div class="mt-10 sm:mt-12">
                    <form action="#" class="sm:max-w-xl sm:mx-auto lg:mx-0">
                      <div class="sm:flex">
                        <div class="min-w-0 flex-1">
                          <label for="email" class="sr-only"
                            >Email address</label
                          >
                          <input
                            id="email"
                            type="email"
                            placeholder="Enter your email"
                            class="block w-full px-4 py-3 rounded-md border-0 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300 focus:ring-offset-gray-900"
                          />
                        </div>
                        <div class="mt-3 sm:mt-0 sm:ml-3">
                          <button
                            type="submit"
                            class="block w-full py-3 px-4 rounded-md shadow bg-indigo-500 text-white font-medium hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300 focus:ring-offset-gray-900"
                          >
                            Start free trial
                          </button>
                        </div>
                      </div>
                      <p class="mt-3 text-sm text-gray-300 sm:mt-4">
                        Start your free 14-day trial, no credit card necessary.
                        By providing your email, you agree to our
                        <a href="#" class="font-medium text-white"
                          >terms of service</a
                        >.
                      </p>
                    </form>
                  </div> -->
                </div>
              </div>

              <div class="mt-12 lg:m-0 lg:relative">
                <div
                  class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0"
                >
                  <!-- <kinesis-element :streng="10"
                    ><img src="@/assets/hero-mobile.png"
                  /></kinesis-element>
                  <kinesis-element :streng="20"
                    ><img src="@/assets/Hero-Person.png"
                  /></kinesis-element> -->

                  <!-- <kinesis-element :strength="100">
                    <img
                      class="w-full"
                      src="@/assets/Hero-Background.png"
                      alt=""
                    />
                  </kinesis-element> -->
                  <!-- <kinesis-element :strength="1">
                    <img
                      class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                      src="@/assets/Hero-Schematic.png"
                      alt=""
                    />
                  </kinesis-element>

                  <kinesis-element :strength="1">
                    <img
                      class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                      src="@/assets/Hero-Steps.png"
                      alt=""
                    />
                  </kinesis-element>

                  <kinesis-element :strength="1">
                    <img
                      class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                      src="@/assets/Hero-Person.png"
                      alt=""
                    />
                  </kinesis-element>

                  <kinesis-element :strength="1">
                    <img
                      class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                      src="@/assets/Hero-Nametag.png"
                      alt=""
                    />
                  </kinesis-element> -->
                  <kinesis-element
                    tag="img"
                    :src="require('@/assets/Hero-Background.png')"
                    :strength="5"
                    class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                  />
                  <kinesis-element
                    tag="img"
                    :src="require('@/assets/Hero-Steps.png')"
                    :strength="7"
                    class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                  />
                  <kinesis-element
                    tag="img"
                    :src="require('@/assets/Hero-Schematic.png')"
                    :strength="9"
                    class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                  />
                  <kinesis-element
                    tag="img"
                    :src="require('@/assets/Hero-Person.png')"
                    :strength="0"
                    class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                  />
                  <kinesis-element
                    tag="img"
                    :src="require('@/assets/Hero-Nametag.png')"
                    :strength="13"
                    class="w-full lg:absolute lg:inset-y-0 lg:top-0 lg:h-full lg:w-auto lg:max-w-none"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- More main page content here... -->
      </main>
    </kinesis-container>
  </client-only>
</template>

<script>
export default {};
</script>

<style></style>
