<template>
  <section
    class="py-6 lg:py-12 bg-gradient-to-br from-primary-blue to-primary-blue-dark sm:py-16"
  >
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div
        class="flex flex-col lg:px-12 space-y-4 sm:max-w-xs sm:mx-auto sm:px-0 lg:flex-row lg:items-center lg:justify-between lg:max-w-none lg:space-y-0"
      >
        <div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-6 h-6 text-yellow-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
            />
          </svg>
          <span
            class="ml-3 text-2xl tracking-normal lg:tracking-wider font-base text-white"
          >
            Reduce Downtime
          </span>
        </div>

        <span
          class="block w-auto h-px bg-gray-200 lg:bg-gray-400 lg:w-px lg:h-4"
        ></span>

        <div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-6 h-6 text-yellow-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
            />
          </svg>
          <span
            class="ml-3 text-2xl tracking-normal lg:tracking-wider font-base text-white"
          >
            First Time Right
          </span>
        </div>

        <span
          class="block w-auto h-px bg-gray-200 lg:bg-gray-400 lg:w-px lg:h-4"
        ></span>

        <div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="flex-shrink-0 w-6 h-6 text-yellow-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"
            />
          </svg>
          <span
            class="ml-3 text-2xl tracking-normal lg:tracking-wider font-base text-white"
          >
            Better Data, Less Paper
          </span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
