<template>
  <section
    class="bg-gradient-to-br from-primary-blue to-primary-blue-dark -mt-4 py-12 sm:py-16 lg:py-20"
  >
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-2xl font-bold text-white font-pj">
          Trusted by professionals all over the world
        </h2>
      </div>

      <div class="mt-8 sm:mt-12">
        <svg
          class="w-auto h-4 mx-auto text-white text-opacity-50"
          viewBox="0 0 172 16"
          fill="none"
          stroke="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 11 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 46 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 81 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 116 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 151 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 18 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 53 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 88 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 123 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 158 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 25 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 60 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 95 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 130 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 165 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 32 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 67 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 102 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 137 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 172 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 39 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 74 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 109 1)"
          />
          <line
            y1="-0.5"
            x2="18.0278"
            y2="-0.5"
            transform="matrix(-0.5547 0.83205 0.83205 0.5547 144 1)"
          />
        </svg>
      </div>

      <div
        class="max-w-5xl mx-auto mt-8 space-y-6 sm:space-y-8 xl:space-y-12 sm:mt-12"
      >
        <div
          class="grid items-center grid-cols-1 sm:grid-cols-2 gap-y-6 sm:gap-y-8 md:grid-cols-4 place-items-center gap-x-8"
        >
          <img
            class="object-contain w-auto h-6 lg:h-10 mx-auto"
            src="@/assets/umicore-logo-white.png"
            alt="Umicore Logo"
          />
          <img
            class="object-contain w-auto mx-auto h-5 lg:h-9"
            src="@/assets/arcelormittal-logo-white.png"
            alt="Arcelormittal Logo"
          />
          <img
            class="object-contain w-auto h-6 lg:h-10 mx-auto"
            src="@/assets/tata-steel-logo-white.png"
            alt="Tata Steel Logo"
          />
          <img
            class="object-contain w-auto h-6 lg:h-10 mx-auto"
            src="@/assets/friesland-campina-logo-white.png"
            alt="Friesland Campina Logo"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
