<template>
  <section class="py-10 bg-white sm:py-16 lg:py-24">
    <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
      <div
        class="grid grid-cols-1 md:items-stretch md:grid-cols-2 gap-x-12 lg:gap-x-20 gap-y-10"
      >
        <div class="flex flex-col justify-between lg:py-5">
          <h2
            class="text-3xl font-bold leading-tight text-black text-opacity-90 sm:text-4xl lg:leading-tight lg:text-5xl"
          >
            Join some of the world's leading companies today.
          </h2>

          <div class="mt-auto">
            <blockquote class="mt-6">
              <p class="text-lg leading-relaxed text-black">
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vehicula massa in enim luctus. Rutrum arcu. Lorem ipsum dolor
                sit amet, consectetur adipiscing elit. Vehicula massa in enim
                luctus. Rutrum arcu. ”
              </p>
            </blockquote>

            <div class="flex items-center mt-8">
              <img
                class="flex-shrink-0 object-cover w-10 h-10 rounded-full"
                src="https://cdn.rareblocks.xyz/collection/celebration/images/pricing/2/avatar.jpg"
                alt=""
              />
              <div class="ml-4">
                <p class="text-base font-semibold text-black">
                  Brooklyn Simmons
                </p>
                <p class="mt-px text-sm text-gray-400">Digital Marketer</p>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div
            class="overflow-hidden bg-white border-2 border-primary-blue rounded-lg"
          >
            <div class="p-10">
              <h3
                class="text-xs font-semibold tracking-widest text-primary-green italic text-opacity-60 uppercase"
              >
                Per User/Month
              </h3>
              <p class="mt-4 text-6xl font-bold text-black">€85</p>

              <ul class="flex flex-col mt-8 space-y-4">
                <li class="inline-flex items-center space-x-2">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="text-base font-medium text-gray-900">
                    1 Domain License
                  </span>
                </li>

                <li class="inline-flex items-center space-x-2">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="text-base font-medium text-gray-900">
                    1 Domain License
                  </span>
                </li>

                <li class="inline-flex items-center space-x-2">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="text-base font-medium text-gray-900">
                    1 Domain License
                  </span>
                </li>

                <li class="inline-flex items-center space-x-2">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="text-base font-medium text-gray-900">
                    1 Domain License
                  </span>
                </li>

                <li class="inline-flex items-center space-x-2">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span
                    class="pb-0.5 text-base font-medium text-gray-900 border-b border-black border-dashed"
                  >
                    Premium Support
                  </span>
                </li>
              </ul>

              <button
                class="inline-flex items-center justify-center w-full px-8 py-4 mt-10 font-semibold text-black transition-all duration-200 rounded-lg bg-yellow-400 hover:opacity-80 focus:opacity-80"
                @click="$nuxt.$emit('showModal')"
              >
                Get Started Now
              </button>

              <div class="flex items-center mt-5">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-gray-500"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
                  ></path>
                </svg>
                <span class="ml-2 text-sm text-gray-500">
                  14 Days Moneyback Guarantee
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
