<template>
  <footer class="py-10 bg-white sm:pt-16 lg:pt-24">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div
        class="grid grid-cols-2 lg:grid-cols-3 gap-y-8 lg:gap-y-16 gap-x-6 lg:gap-x-12"
      >
        <div class="col-span-2 md:col-span-3 lg:col-span-1 lg:pr-8">
          <img
            class="order-3 lg:order-1 w-auto h-9"
            src="@/assets/logo-black.png"
            alt=""
          />
          <!-- <p class="text-base leading-relaxed text-black text-opacity-70 mt-7">
            FlowInsight is a platform that helps you with your inspection
            workflows, enabling engineers to do their jobs better and faster.
          </p> -->

          <ul class="flex items-center space-x-3 mt-9">
            <li>
              <a
                href="#"
                title=""
                class="flex items-center justify-center text-white transition-all duration-200 bg-gray-800 rounded-full w-7 h-7 hover:bg-primary-green focus:bg-blue-600"
              >
                <svg
                  class="w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path
                    d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
                  ></path>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="flex items-center justify-center text-white transition-all duration-200 bg-gray-800 rounded-full w-7 h-7 hover:bg-primary-green focus:bg-blue-600"
              >
                <svg
                  class="w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <title>LinkedIn</title>
                  <path
                    d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                  />
                </svg>
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="flex items-center justify-center text-white transition-all duration-200 bg-gray-800 rounded-full w-7 h-7 hover:bg-primary-green focus:bg-blue-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div>
          <p
            class="text-sm font-semibold tracking-widest text-gray-400 uppercase"
          >
            Company
          </p>

          <ul class="mt-6 space-y-4">
            <li>
              <nuxt-link
                to="/about-us"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                About Us
              </nuxt-link>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                Solutions
              </a>
            </li>

            <!-- <li>
              <a
                href="#"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                Works
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                Career
              </a>
            </li> -->
          </ul>
        </div>

        <div>
          <p
            class="text-sm font-semibold tracking-widest text-gray-400 uppercase"
          >
            Help
          </p>

          <ul class="mt-6 space-y-4">
            <!-- <li>
              <a
                href="#"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                Customer Support
              </a>
            </li> -->

            <!-- <li>
              <a
                href="#"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                Delivery Details
              </a>
            </li> -->

            <li>
              <a
                href="#"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                Terms &amp; Conditions
              </a>
            </li>

            <li>
              <a
                href="#"
                title=""
                class="flex text-base text-black transition-all duration-200 hover:text-blue-600 focus:text-blue-600"
              >
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>

        <!-- <div class="col-span-1 md:col-span-1 lg:col-span-1 lg:pl-8">
          <p
            class="text-sm font-semibold tracking-widest text-gray-400 uppercase"
          >
            Subscribe to newsletter
          </p>

          <form action="#" method="POST" class="mt-6">
            <div>
              <label for="email" class="sr-only">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
                class="block w-full p-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600"
              />
            </div>

            <button
              type="submit"
              class="inline-flex items-center justify-center px-6 py-4 mt-3 font-semibold text-white transition-all duration-200 bg-blue-600 rounded-md hover:bg-blue-700 focus:bg-blue-700"
            >
              Subscribe
            </button>
          </form>
        </div> -->
      </div>

      <hr class="my-6 lg:mt-16 lg:mb-10 border-gray-200" />

      <p class="text-sm text-center text-gray-600">
        © Copyright 2020, All Rights Reserved by Knowledge Insight
      </p>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style></style>
