<template>
  <header class="sticky top-0 py-4 bg-white z-30 md:py-6">
    <div class="container px-4 mx-auto sm:px-6 lg:px-8">
      <div class="flex items-center justify-between">
        <div class="flex-shrink-0">
          <nuxt-link to="/" title="" class="flex rounded outline-none">
            <img class="w-auto h-8" src="@/assets/logo-black.png" alt="" />
          </nuxt-link>
        </div>

        <div class="flex lg:hidden">
          <button type="button" class="text-gray-900">
            <svg
              class="w-7 h-7"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>

        <div
          class="hidden lg:flex lg:ml-10 xl:ml-16 lg:items-center lg:justify-center lg:space-x-8 xl:space-x-16"
        >
          <a
            href="#"
            title=""
            class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
          >
            Solutions
          </a>

          <nuxt-link
            to="/industries"
            title=""
            class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
          >
            Industries
          </nuxt-link>

          <a
            href="#"
            title=""
            class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
          >
            Resources
          </a>

          <nuxt-link
            to="/about-us"
            title=""
            class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
          >
            About Us
          </nuxt-link>
          <nuxt-link
            to="/contact"
            title=""
            class="text-base font-medium text-gray-900 transition-all duration-200 rounded focus:outline-none font-pj hover:text-opacity-50"
          >
            Contact
          </nuxt-link>
        </div>

        <div
          class="hidden lg:ml-auto lg:flex lg:items-center lg:space-x-8 xl:space-x-10"
        >
          <button
            class="px-5 py-2 text-base font-bold leading-7 text-white bg-primary-blue transition-all duration-200 border border-transparent rounded-xl hover:bg-gray-600 font-pj focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
            @click="$nuxt.$emit('showModal')"
          >
            Book a Free Demo
          </button>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {};
</script>

<style></style>
