<template>
  <section class="py-12 bg-white sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-6xl sm:px-6 lg:px-8">
      <div
        class="grid grid-cols-1 md:items-center gap-y-8 md:grid-cols-2 md:gap-x-16"
      >
        <div class="order-2 md:order-1">
          <h2
            class="text-3xl font-bold text-gray-900 sm:text-4xl xl:text-5xl font-pj"
          >
            {{ title || "" }}
          </h2>
          <p class="mt-4 text-lg text-gray-900 sm:mt-8 font-pj">
            {{ content || "" }}
          </p>
        </div>

        <div class="order-1 md:order-2">
          <img
            class="w-full max-w-md mx-auto rounded-lg"
            :src="require(`@/assets/${titleSlug}.png`)"
            :alt="title"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    content: {
      type: String,
      default: "",
    },
  },
  computed: {
    titleSlug() {
      // this is a function that replaces all special characters with dashes
      // and converts the string to lowercase
      return this.title
        .toLowerCase()
        .replace(/[~`!@#$%^&*()+={}\[\];:\'\"<>.,\/\\\?-_]/g, "")
        .replace(/ /g, "-");
    },
  },
};
</script>

<style></style>
