<template>
  <section class="py-10 bg-white sm:py-16 lg:py-24">
    <div class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
      <div
        class="grid grid-cols-1 md:items-stretch md:grid-cols-3 gap-x-12 lg:gap-x-10 gap-y-5"
      >
        <div class="flex col-span-1 flex-col justify-between lg:py-5">
          <div>
            <h2
              class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:leading-tight lg:text-5xl"
            >
              Get in touch
            </h2>
            <p
              class="max-w-xl mx-auto mt-4 text-lg leading-relaxed text-black text-opacity-80"
            >
              Send us a message and we'll get back to you as soon as possible.
            </p>
          </div>

          <div class="hidden md:mt-auto md:block">
            <blockquote class="mt-6">
              <p class="text-lg leading-relaxed text-black italic">
                If you have any questions about our products, please don’t
                hesitate to contact us. I am always happy to answer any
                questions you might have.
              </p>
            </blockquote>

            <div class="flex items-center mt-8">
              <img
                class="flex-shrink-0 object-cover w-10 h-10 rounded-full"
                src="@/assets/Jan-Paul-Raven.png"
                alt="Jan Paul Raven"
              />
              <div class="ml-4">
                <p class="text-base font-semibold text-black">Jan Paul Raven</p>
                <p class="mt-px text-sm text-gray-400">Director of Sales</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-2 border-2 border-primary-blue rounded-lg">
          <div class="overflow-hidden bg-white rounded-md">
            <div class="p-10 sm:p-12">
              <h3 class="text-3xl font-semibold text-black">Contact Form</h3>
              <!-- <p class="mt-4 text-base text-gray-600">
                Send us a message and we'll get back to you as soon as possible.
              </p> -->

              <form action="#" method="POST" class="mt-4">
                <div class="space-y-6">
                  <div class="grid grid-cols-2 gap-4">
                    <div class="col-span-1">
                      <label
                        for="name"
                        class="text-base font-medium text-gray-900"
                      >
                        Your name
                      </label>
                      <div class="mt-2.5 relative">
                        <input
                          type="text"
                          name="name"
                          id=""
                          placeholder="Enter your full name"
                          class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:ring-primary-green focus:border-primary-green caret-primary-green"
                        />
                      </div>
                    </div>
                    <div class="col-span-1">
                      <label
                        for="organization"
                        class="text-base font-medium text-gray-900"
                      >
                        Organization
                      </label>
                      <div class="mt-2.5 relative">
                        <input
                          type="text"
                          name="organization"
                          id=""
                          placeholder="Enter your organization"
                          class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:ring-primary-green focus:border-primary-green caret-primary-green"
                        />
                      </div>
                    </div>
                  </div>

                  <div>
                    <label
                      for="email"
                      class="text-base font-medium text-gray-900"
                    >
                      Email address
                    </label>
                    <div class="mt-2.5 relative">
                      <input
                        type="text"
                        name="email"
                        id=""
                        placeholder="Enter your email"
                        class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:ring-primary-green focus:border-primary-green caret-primary-green"
                      />
                    </div>
                  </div>

                  <div>
                    <label
                      for="message"
                      class="text-base font-medium text-gray-900"
                    >
                      Your message
                    </label>
                    <div class="mt-2.5 relative">
                      <textarea
                        name="message"
                        id=""
                        placeholder="Enter your message"
                        class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md resize-y focus:outline-none focus:ring-primary-green focus:border-primary-green caret-primary-green"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>

                  <div>
                    <button
                      type="submit"
                      class="inline-flex items-center justify-center w-full px-4 py-4 text-base font-semibold text-black transition-all duration-200 bg-yellow-400 border border-transparent rounded-md focus:outline-none hover:bg-yellow-500 focus:bg-yellow-500"
                    >
                      Send message
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="md:hidden">
          <blockquote class="mt-6">
            <p class="text-lg leading-relaxed text-black italic">
              If you have any questions about our products, please don’t
              hesitate to contact us. I am always happy to answer any questions
              you might have.
            </p>
          </blockquote>

          <div class="flex items-center mt-8">
            <img
              class="flex-shrink-0 object-cover w-10 h-10 rounded-full"
              src="@/assets/Jan-Paul-Raven.png"
              alt="Jan Paul Raven"
            />
            <div class="ml-4">
              <p class="text-base font-semibold text-black">Jan Paul Raven</p>
              <p class="mt-px text-sm text-gray-400">Director of Sales</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
