<template>
  <div
    class="bg-gradient-to-br from-primary-green via-primary-blue to-primary-blue"
  >
    <div class="max-w-6xl mx-auto py-12 lg:py-24">
      <div class="relative z-10 max-w-7xl mx-auto pl-4 pr-8 sm:px-6 lg:px-8">
        <h1
          class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl"
        >
          Contact
        </h1>
        <!-- <p class="mt-6 text-xl text-white max-w-3xl">
          Vel nunc non ut montes, viverra tempor. Proin lectus nibh phasellus
          morbi non morbi. In elementum urna ut volutpat. Sagittis et vel et
          fermentum amet consequat.
        </p> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
