<template>
  <div>
    <ModalPopup v-show="showModal" @closeModal="showModal = false"
      ><HomeCTADemo :show-quote="false" />
    </ModalPopup>
    <UIHeader />
    <Nuxt />
    <UIFooter />
  </div>
</template>

<script>
export default {
  data() {
    return {
      showModal: false,
    };
  },
  created() {
    this.$nuxt.$on("showModal", () => {
      this.showModal = true;
    });
  },
};
</script>

<style></style>
