<template>
  <div class="fixed inset-0 z-50 overflow-x-hidden overflow-y-auto">
    <div
      class="mx-2 lg:mx-12 flex items-center justify-start min-h-screen text-center md:items-end md:justify-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 transition-opacity"
        @click="$emit('closeModal')"
      >
        <div class="absolute inset-0 bg-gray-600 opacity-75" />
      </div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" />&#8203;

      <div
        :style="`${fullScreenCss}`"
        :class="` h-auto popup-modal inline-block align-bottom  border-2 border-white border-opacity-20 rounded-lg relative  text-left overflow-hidden shadow-xl transform transition-all  sm:my-8 sm:align-middle max-w-2xl w-auto `"
        role="dialog"
        aria-modal="true"
        aria-labelledby="modal-headline"
      >
        <!-- <h3
          v-if="title"
          id="modal-headline"
          class="text-lg mb-2 md:text-3xl text-white"
        >
          {{ title }}
        </h3>
        <p class="text-white text-opacity-80 text-lg mb-8">{{ description }}</p>
        <div class="absolute top-4 right-8 flex items-center">
          <button
            aria-label="Close panel"
            class="text-white text-opacity-70 transition duration-150 ease-in-out hover:text-gray-500"
            @click="$emit('closeModal')"
          >
            <p>esc</p>
          </button>
        </div> -->
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      required: false,
    },
    size: {
      type: String,
      required: false,
      default: "2xl",
    },
    fullScreen: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    screenWidth() {
      if (process.client) {
        return window.innerWidth;
      } else return null;
    },
    fullScreenCss() {
      if (this.fullScreen) {
        if (this.screenWidth && this.screenWidth >= 1024)
          return "width: calc(100vw - 100px) !important; max-width: calc(100vw - 100px) !important;";
        if (this.screenWidth && this.screenWidth < 1024)
          return "width: calc(100vw - 20px) !important; max-width: calc(100vw - 20px) !important;";
      }
      return "";
    },
  },
};
</script>

<style lang="css" scoped>
.popup-modal {
  max-height: calc(100vh - 64px) !important;
}
</style>
