<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <section class="bg-primary-blue-dark">
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
      <div class="space-y-12">
        <div
          class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none"
        >
          <h2
            class="text-3xl font-extrabold text-white tracking-tight sm:text-4xl"
          >
            Meet our team
          </h2>
          <p class="text-xl text-gray-300">
            Our team has extensive experience enabling frontline workers and
            organizations as a whole to become more productive without
            sacrificing safety or quality. We can answer almost any question
            quickly and decisively. FlowInsight has a dedicated focus on
            customers worldwide where frontline workers make the difference.
            Safety, doing work the first time right and overall efficiency are
            our main drivers.
          </p>
        </div>
        <ul
          role="list"
          class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-8"
        >
          <AboutTeamMember name="Jan Paul Raven" position="Director of Sales" />
          <AboutTeamMember
            name="Salvatore Lo Dico"
            position="Managing Director"
          />
          <AboutTeamMember
            name="Jan Schalkwijk"
            position="Director Technology"
          />
          <AboutTeamMember
            name="Bert van Deuveren"
            position="Director of Product Development"
          />
          <AboutTeamMember
            name="Rik Jansen"
            position="Director Customer Experience"
          />
        </ul>
      </div>
    </div>
  </section>

  <!-- <section class="py-12 sm:py-16 lg:py-20 bg-black">
    <div class="px-6 mx-auto sm:px-8 lg:px-12 max-w-7xl">
      <div class="max-w-3xl grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-12">
        <AboutTeamMember name="Jan Paul Raven" position="Director of Sales" />
        <AboutTeamMember name="Jan Paul Raven" position="Director of Sales" />
        <AboutTeamMember
          name="Salvatore Lo Dico"
          position="Managing Director"
        />
        <AboutTeamMember name="Jan Schalkwijk" position="Director Technology" />
        <AboutTeamMember
          name="Bert van Deuveren"
          position="Director of Product Development"
        />
        <AboutTeamMember
          name="Rik Jansen"
          position="Director Customer Experience"
        />
      </div>
      <div class="grid grid-cols-1 xl:grid-cols-6 gap-x-8 gap-y-12 md:gap-y-16">
        <div class="text-center xl:col-span-2 xl:text-left">
          <h2 class="tracking-tighter text-white">
            <span
              class="font-sans text-2xl font-normal sm:text-2xl md:text-4xl"
            >
              A Team of
            </span>
            <span class="block text-2xl italic sm:text-2xl md:text-4xl">
              specialists
            </span>
          </h2>
          <div class="mt-4">
            <p class="text-white">
              Our team has extensive experience enabling frontline workers and
              organizations as a whole to become more productive without
              sacrificing safety or quality. We can answer almost any question
              quickly and decisively. Knowledge Insight has a dedicated focus on
              customers worldwide where frontline workers make the difference.
              Safety, doing work the first time right and overall efficiency are
              our main drivers.
            </p>
          </div>
        </div>

        <div class="xl:col-span-4">
          <div class="grid grid-cols-2 gap-5 md:grid-cols-5">
            <AboutTeamMember
              name="Jan Paul Raven"
              position="Director of Sales"
            />
            <AboutTeamMember
              name="Salvatore Lo Dico"
              position="Managing Director"
            />
            <AboutTeamMember
              name="Jan Schalkwijk"
              position="Director Technology"
            />
            <AboutTeamMember
              name="Rik Jansen"
              position="Director Customer Experience"
            />
            <AboutTeamMember
              name="Bert van Deuveren"
              position="Director of Product Development"
            />
          </div>
        </div>
      </div>
    </div>
  </section> -->
</template>

<script>
export default {};
</script>

<style></style>
