<template>
  <div>
    <!-- <HomeHero /> -->
    <HomeHero2 />
    <HomeLogos />
    <HomeSolution />
    <HomeIncentives />
    <HomeFeatures />
    <HomeCTADemo />
    <HomeFeatureEngineer />
    <HomeFeatureExpert />
    <HomeFeatureInspector />
    <HomeCTA />
    <HomePricing />
    <HomeFAQ />
    <HomeContact />
  </div>
</template>

<script>
export default {
  name: "IndexPage",
};
</script>
