<template>
  <main>
    <UIImageText
      title="Base Industry"
      content="We support world-level parties in the base industry in realizing the maximal output against the minimal number of disruptions. The cost of unplanned maintenance is huge in this industry as are the associated risks to staff and environment. Minimizing the effect of these disruptions saves money, manpower and material while at the same time reducing travel and lodging cost and lowering CO2 emissions."
    />
    <UITextImage
      title="Energy, Offshore and Maritime"
      content="These three industries all have high cost of movement and maintenance. By ensuring that audits and work orders are followed through to the letter and reporting is done accordingly both risk and cost can be mitigated."
    />
    <UIImageText
      title="Machinery and Equipment"
      content="Supplying and servicing installations at customer sites all over the world create specific demands. How to guarantee an SLA to a customer half a world away and realize the optimal uptime of your equipment is a challenge in itself. We support a number of customers in doing so with a minimum of air travel and cost against a maximum of impact."
    />
    <UITextImage
      title="Food and Drugs Industry"
      content="High quality, clean environments, consumer safety, reliability and up-time are all terms linked to this part of the industry. Extreme demands in product safety and accuracy ask for companies to offer machineries requiring specialized care and maintenance. Our customers in this field ensure quality through a rigorous and proven process of procedures and highly specialized equipment."
    />
    <UIImageText
      title="Educational Institutes"
      content="A growing number of educational institutes and companies all over Europe use our solutions to support the education, training and examination of trainees. They experience faster on-boarding, higher quality reporting form the work floor and manage to do examinations remotely solving many Covid-19 related issues. Creating study material in our workflow application closely resembles the reality as soon as the trainees go into the field and prepares them for the modern working environment."
    />
  </main>
</template>

<script>
export default {};
</script>

<style></style>
