<template>
  <li
    class="py-10 px-6 bg-white bg-opacity-5 text-center rounded-lg xl:px-10 xl:text-left"
  >
    <div class="space-y-6 xl:space-y-10">
      <img
        class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
        :src="imageLocation"
        :alt="name"
      />
      <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
        <div class="font-medium text-lg leading-6 space-y-1">
          <h3 class="text-white text-xl">{{ name }}</h3>
          <p class="text-primary-green font-light">{{ position }}</p>
        </div>

        <ul role="list" class="flex justify-center space-x-5">
          <li>
            <a href="#" class="text-gray-400 hover:text-gray-300">
              <span class="sr-only">Twitter</span>
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <path
                  d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84"
                />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-gray-300">
              <span class="sr-only">LinkedIn</span>
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <!-- <div class="relative overflow-hidden rounded-lg">
    <div class="aspect-w-3 aspect-h-3">
      <img class="object-cover w-full h-full" :src="imageLocation" alt="" />
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent"
    ></div>
    <div class="absolute inset-x-0 bottom-0">
      <div class="px-2 pt-4 pb-2">
        <p class="font-sans text-sm font-normal text-white">{{ name }}</p>
        <p class="text-sm font-thin italic text-white">
          {{ position }}
        </p>
      </div>
    </div>
  </div> -->
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
      default: "",
    },
    position: {
      type: String,
      required: true,
      default: "",
    },
  },
  computed: {
    imageLocation() {
      const dir = this.name.replace(/\s+/g, "-");
      return require(`@/assets/${dir}.png`);
    },
  },
};
</script>

<style></style>
